.chatArea{
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.contentSection {
    flex: 1;
    display: flex;
    min-width: 0;
    overflow: hidden;
}

@media( max-width: 768px){
    .container {
        display: flex;
        flex-direction: row;
    }
    .profileSection{
        width:25%;
        flex-shrink: 0;
    }

    .contentSection{
        width:75%;
        flex:1;
    }
}